# Cheatsheet

Without autoshare:

`git submodule add -b {{ odoo_version }} https://github.com/OCA/partner-contact repositories/OCA/partner-contact`

With autoshare:

`git autoshare-submodule-add -b {{ odoo_version }} https://github.com/OCA/partner-contact repositories/OCA/partner-contact`
