[submodule "repositories/odoo/odoo"]
	path = repositories/odoo/odoo
	url = https://github.com/odoo/odoo
	branch = {{ odoo_version }}
[submodule "repositories/odoo/design-themes"]
	path = repositories/odoo/design-themes
	url = https://github.com/odoo/design-themes
	branch = {{ odoo_version }}
