[tool.ruff]
line-length = 88

[tool.ruff.lint]
select = [
    "E",        # pycodestyle errors
    "W",        # pycodestyle warnings
    "C90",      # mccabe
    "F",        # pyflakes
    "UP",       # pyupgrade
    "I",        # isort
]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "I001"]
"__manifest__.py" = ["B018"]

[tool.ruff.lint.pycodestyle]
# line-length is set in [tool.ruff], and it's used by the formatter.
# In case the formatter can't autofix the line length, we want to allow exceeding it.
max-line-length = 999

[tool.ruff.lint.isort]
combine-as-imports = true
force-wrap-aliases = true

[tool.ruff.lint.mccabe]
max-complexity = 16

[tool.pylint.master]
load-plugins = ["pylint_odoo"]
score = false
ignore-patterns = [
    "^((?!/addons).)*$"
]

[tool.pylint.odoolint]
valid-odoo-versions = ["{{ odoo_version }}"]
manifest-required-authors = "Odoo IT"
manifest-required-keys = ["license"]
manifest-deprecated-keys = ["description", "active"]
license-allowed = [
    "AGPL-3",
    "LGPL-3",
]

[tool.pylint."messages control"]
disable = "all"
enable = "odoolint"

[tool.pylint.reports]
output-format = "colorized"
msg-template = "{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"
